<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="static/carrito.css">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/3c5f3aacc0.js" crossorigin="anonymous"></script>
  <title>Carrito-Catálogo</title>
</head>

<body>

  <nav class="navbar">
    <a href="#" id="accesorios"><h3>Accesorios</h3></a>
    <a href="#" id="piel"><h3>Piel</h3></a>
    <a href="#" id="maquillaje"><h3>Maquillaje</h3></a>
    <a href="#" id="calzado"><h3>Calzado</h3></a>
  </nav>
    
    <header>
    <div class="container">
      <h1 class="text-center">Todos los Artículos</h1>
      <hr>
    </div>
    </header>
    
    <section class="store">
      <div class="container">
        <div class="items">
          <div class="row">
            <!--ARETES-->

            <div class="col-12 col-md-6 accesorios">
              <div class="item shadow mb-4">
                <h3 class="item-title">Hojas Celestes</h3>
                <img class="item-image" src="images/Chapas1.jpg">

                <div class="item-details">
                  <h4 class="item-price">NIO</h4>
                    <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 accesorios">
              <div class="item shadow mb-4">
                <h3 class="item-title">Estrella</h3>

                <img class="item-image" src="images/Chapas2.jpg">

                <div class="item-details">
                  <h4 class="item-price">NIO</h4>
                  <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                </div>
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-12 col-md-6 accesorios">
                <div class="item shadow mb-4">
                  <h3 class="item-title">Esmeralda</h3>

                  <img class="item-image" src="images/Chapas3.jpg">

                  <div class="item-details">
                    <h4 class="item-price">NIO</h4>
                    <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 accesorios">
                <div class="item shadow mb-4">
                  <h3 class="item-title">Mariposa</h3>

                  <img class="item-image" src="images/Chapas4.jpg">

                  <div class="item-details">
                    <h4 class="item-price">NIO</h4>
                    <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                  </div>
                </div>
              </div>
            </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Flor Transparente</h3>

                    <img class="item-image" src="images/Chapas5.jpg">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Luna y Estrella</h3>

                    <img class="item-image" src="images/Chapas6.jpg">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Corazón</h3>

                    <img class="item-image" src="images/Chapas7.jpg">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Corazón con Piedra</h3>

                    <img class="item-image" src="images/Chapas8.jpg">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Flor Plateada</h3>

                    <img class="item-image" src="images/Chapas9.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Ojo</h3>

                    <img class="item-image" src="images/Chapas10.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Flor Roja</h3>

                    <img class="item-image" src="images/Chapas11.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Flor Verde</h3>

                    <img class="item-image" src="images/Chapas12.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Plana</h3>

                    <img class="item-image" src="images/Chapas13.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Cleopatra</h3>

                    <img class="item-image" src="images/Chapas14.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Media Luna</h3>

                    <img class="item-image" src="images/Chapas15.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Ojo Multicolor</h3>

                    <img class="item-image" src="images/Chapas16.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <!--BRAZALETES-->
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Pulsera Buho</h3>

                    <img class="item-image" src="images/Brazalete1.jpg">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Pulsera Corazón</h3>

                    <img class="item-image" src="images/Brazalete2.jpg">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Tobillera 01</h3>

                    <img class="item-image" src="images/Brazalete3.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Pandora01</h3>

                    <img class="item-image" src="images/Brazalete4.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Pandora02</h3>

                    <img class="item-image" src="images/Brazalete5.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Pandora03</h3>

                    <img class="item-image" src="images/Brazalete6.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Pandora 04</h3>

                    <img class="item-image" src="images/Brazalete7.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Pandora05</h3>

                    <img class="item-image" src="images/Brazalete8.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Pandora06</h3>

                    <img class="item-image" src="images/Brazalete9.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Pandora07</h3>

                    <img class="item-image" src="images/Brazalete10.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Set Negro Corazón</h3>

                    <img class="item-image" src="images/Brazalete11.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Set Verde Corazón</h3>

                    <img class="item-image" src="images/Brazalete12.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Set Blanco Corazón</h3>

                    <img class="item-image" src="images/Brazalete13.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <!--SET DE TOBILLOS-->
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Tobillera02</h3>

                    <img class="item-image" src="images/setTobillo1.jpeg">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Tobillera03</h3>

                    <img class="item-image" src="images/setTobillo2.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Tobillera04</h3>

                    <img class="item-image" src="images/setTobillo3.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <!--COLLARES-->
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Collar Triángulo</h3>

                    <img class="item-image" src="images/Collar1.jpg">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Collar Celeste y Blanco</h3>

                    <img class="item-image" src="images/Collar2.jpg">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Gargantilla de Concha</h3>

                    <img class="item-image" src="images/Collar3.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <!--BOLSOS-->
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Cosmetiquera Minnie</h3>

                    <img class="item-image" src="images/Bolsos1.jpeg">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Set Nude</h3>

                    <img class="item-image" src="images/Bolsos2.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Set Café</h3>

                    <img class="item-image" src="images/Bolsos3.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Set Baige</h3>

                    <img class="item-image" src="images/Bolsos4.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Set Café Estampado</h3>

                    <img class="item-image" src="images/Bolsos5.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Set Negro Estampado</h3>

                    <img class="item-image" src="images/Bolsos6.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Bolso Viajero Pink</h3>

                    <img class="item-image" src="images/Bolsos7.jpg">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Reloj Guess Negro</h3>

                    <img class="item-image" src="images/Reloj1.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Reloj Nautica Café</h3>

                    <img class="item-image" src="images/Reloj2.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Juego Lacoste Verde</h3>

                    <img class="item-image" src="images/Reloj3.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Juego Lacoste Azul</h3>

                    <img class="item-image" src="images/Reloj4.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Juego Lacoste Rojo</h3>

                    <img class="item-image" src="images/Reloj5.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 accesorios">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Juego Lacoste Amarillo</h3>

                    <img class="item-image" src="images/Reloj6.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                
                
                <!--Piel/Perfumes-->
                <div class="col-12 col-md-6 piel">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Body Artistas</h3>

                    <img class="item-image" src="images/Perfume1.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 piel">
                  <div class="item shadow mb-4">
                    <h3 class="item-title"></h3>

                    <img class="item-image" src="images/Perfume2.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 piel">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Limpiador Facial Aloe</h3>

                    <img class="item-image" src="images/Piel1.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 piel">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Limpiador Facial Frutas</h3>

                    <img class="item-image" src="images/Piel2.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 piel">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Hyaluronic Ushas</h3>

                    <img class="item-image" src="images/Piel3.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 piel">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Serum Ushas</h3>

                    <img class="item-image" src="images/Piel4.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 piel">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Aceite para Cabello</h3>

                    <img class="item-image" src="images/Piel5.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 piel">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Vitamina Cabello Ushas</h3>

                    <img class="item-image" src="images/Piel6.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 piel">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Cera Nitro</h3>

                    <img class="item-image" src="images/Piel7.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 piel">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Desmaquillante Colágeno</h3>

                    <img class="item-image" src="images/Piel8.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 piel">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Desmaquillante Vitamina</h3>

                    <img class="item-image" src="images/Piel9.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 piel">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Máscara para Ojos</h3>

                    <img class="item-image" src="images/Piel10.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 piel">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Primer Ushas</h3>

                    <img class="item-image" src="images/Piel11.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--MAQUILLAJE-->
              <div class="row">
                <div class="col-12 col-md-6 maquillaje">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Delineador en Gel Ushas</h3>

                    <img class="item-image" src="images/Maquillaje1.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 maquillaje">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Delineador Líquido</h3>

                    <img class="item-image" src="images/Maquillaje2.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 maquillaje">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Blush Tono Rosa y Dorado</h3>

                    <img class="item-image" src="images/Maquillaje3.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 maquillaje">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Blender Set</h3>

                    <img class="item-image" src="images/Maquillaje4.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 maquillaje">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Set Blender Ushas</h3>

                    <img class="item-image" src="images/Maquillaje5.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 maquillaje">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Encrespador de Pestañas01</h3>

                    <img class="item-image" src="images/Maquillaje6.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 maquillaje">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Encrespador de Pestañas02</h3>

                    <img class="item-image" src="images/Maquillaje7.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 maquillaje">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Cepillo para Cejas</h3>

                    <img class="item-image" src="images/Maquillaje8.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 maquillaje">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Delineador de Cejas</h3>

                    <img class="item-image" src="images/Maquillaje9.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 maquillaje">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Paleta de 56 Tonos</h3>

                    <img class="item-image" src="images/Maquillaje10.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 maquillaje">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Paleta de 29 Tonos</h3>

                    <img class="item-image" src="images/Maquillaje11.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 maquillaje">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Paleta de 42 Tonos</h3>

                    <img class="item-image" src="images/Maquillaje12.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 calzado">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Deportivo Azul</h3>

                    <img class="item-image" src="images/Calzado1.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 calzado">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Deportivo Negro</h3>

                    <img class="item-image" src="images/Calzado2.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 calzado">
                  <div class="item shadow mb-4">
                    <h3 class="item-title">Deportivo Rojo</h3>

                    <img class="item-image" src="images/Calzado3.jfif">
                    <div class="item-details">
                      <h4 class="item-price">NIO</h4>
                      <button class="item-button btn btn-primary addToCart">AÑADIR A LA BOLSA</button>
                    </div>
                  </div>
                </div>
              </div>


              
              
              <!--MásProd-->
      </div>
    </div>
    </section>

    <section class="shopping-cart">
      <div class="container">
        <h1 class="text-center">CARRITO</h1>
        <hr>
        <div class="row">
          <div class="col-6">
            <div class="shopping-cart-header">
              <h6>Curso</h6>
            </div>
          </div>
          <div class="col-2">
            <div class="shopping-cart-header">
              <h6 class="text-truncate">Precio</h6>
            </div>
          </div>
          <div class="col-4">
            <div class="shopping-cart-header">
              <h6>Cantidad</h6>
            </div>
        </div>
            </div>
            <!-- elementos del carrito -->
            <div class="shopping-cart-items shoppingCartItemsContainer">
            </div>

            <!-- TOTAL -->
            <div class="row">
              <div class="col-12">
                <div class="shopping-cart-total d-flex align-items-center">
                  <p class="mb-0">Total</p>
                  <p class="ml-4 mb-0 shoppingCartTotal">0.00NIO</p>
                  <div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
                    <div class="toast-header">
                      <span>✅</span>
                      <strong class="mr-auto ml-1 text-secondary">Producto añadido</strong>
                      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="toast-body text-white">Se aumentó la cantidad.</div>
                  </div>
                  <button class="btn btn-success ml-auto comprarButton" type="button" data-toggle="modal" data-target="#comprarModal">Comprar</button>
                </div>
              </div>
            </div>

            <!-- PANTALA AL COMPRAR -->
      <div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel"
                aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="comprarModalLabel">Gracias por su compra</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Artículos Comprados Exitosamente</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      </div>

    </section>


    <!-- Pie de página -->
    <footer class="bg-dark p-3 mt-5">
      <div class="contactos">
        <a href="https://wa.me/50557080724?text=Hola.%20¡Me%20interesan%20sus%20productos!"><i class="fa-solid fa-phone"> 5708-0724</i></a>
      </div>
      <hr class="pie">
      <a href="index.html"><p class="text-center m-0 text-muted">Página Principal</p></a>
    </footer>

    <!-- Scripts para carrito y Aviso de compra -->
  <script src="navbar.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

  <script src="./tienda.js"></script>

</body>

</html>