<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="styles.css" rel="stylesheet">
  <link href="carrito.html">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/3c5f3aacc0.js" crossorigin="anonymous"></script>
  <title>MaryStyle</title>
</head>
<body>


  <header class="encabezado">
    <i class="fa-solid fa-magnifying-glass" id="lupa"><input type="text" placeholder="¿Qué estás buscando?" class="buscar"></i>
  </header>
  <!--DIV QUE CONTIENE A TODO PARA HACERLO DISPLAY GRID CON 4 COLUMNAS-->
  <div class="container">

    <div class="categorias">
      <h2>CATEGORÍAS</h2>

      <h3 class="arts">Destacados</h3>

      <h3 class="arts" id="arts1">Artículos para Dama</h3>
      <h4 class="desactivado padding" id="off1">Ropa</h4>
      <h4 class="desactivado padding" id="off2">Joyería</h4>
      <h4 class="desactivado padding" id="off3">Calzado</h4>
      <h4 class="desactivado padding" id="off4">Lencería</h4>

      <h3 class="arts" id="arts2">Artículos para Caballero</h3><!---->
      <h4 class="desactivado padding" id="off2_1">Ropa</h4>
      <h4 class="desactivado padding" id="off2_2">Joyería</h4>
      <h4 class="desactivado padding" id="off2_3">Calzado</h4>
      <h4 class="desactivado padding" id="off2_4">Lencería</h4>
    </div>

    <div class="todo" id="todo">
      <img src="images/logo.png">
      <a href="carrito.html"><h2>Todo</h2></a>

      <!--<div class="producto" id="producto1">
        <img src="images/camisa1.jfif">
          <i class="fa-solid fa-star">Blusa Floreada
            <h4 class="descripcion">Diseño de flores</h4>
            <h3 class="precio">65.00 NIO</h3>
            <h4 class="tachado">80.00 NIO</h4>
          </i>
      </div>-->

      <div class="producto" id="producto2">
        <img src="images/Chapas8.jpg">
          <i class="fa-solid fa-star">Aretes con forma de Corazon
            <h4 class="descripcion">Aretes</h4>
            <!--<h3 class="precio">65.00 NIO</h3>
            <h4 class="tachado">80.00 NIO</h4>-->
          </i>
      </div>

      <div class="producto" id="producto3">
        <img src="images/Chapas1.jpg">
          <i class="fa-solid fa-star">Aretes con forma de Hoja
            <h4 class="descripcion">Aretes</h4>
            <!--<h3 class="precio">65.00 NIO</h3>
            <h4 class="tachado">80.00 NIO</h4>-->
          </i>
      </div>

      <div class="producto" id="producto4">
        <img src="images/Chapas5.jpg">
          <i class="fa-solid fa-star">Aretes con forma de Flor
            <h4 class="descripcion">Aretes</h4>
            <!--<h3 class="precio">65.00 NIO</h3>
            <h4 class="tachado">80.00 NIO</h4>-->
          </i>
      </div>

      <div class="producto" id="producto5">
        <img src="images/Brazalete1.jpg">
          <i class="fa-solid fa-star">Brazaletes verdes con Dije
            <h4 class="descripcion">Brazalete</h4>
            <!--<h3 class="precio">65.00 NIO</h3>
            <h4 class="tachado">80.00 NIO</h4>-->
          </i>
      </div>

      <div class="producto" id="producto6">
        <img src="images/Collar1.jpg">
          <i class="fa-solid fa-star">Collar con dije
            <h4 class="descripcion">Collar</h4>
            <!--<h3 class="precio">65.00 NIO</h3>
            <h4 class="tachado">80.00 NIO</h4>-->
          </i>
      </div>

      <div class="producto" id="producto7">
        <img src="images/Chapas2.jpg">
          <i class="fa-solid fa-star">Aretes con forma de Estrella
            <h4 class="descripcion">Aretes</h4>
            <!--<h3 class="precio">65.00 NIO</h3>
            <h4 class="tachado">80.00 NIO</h4>-->
          </i>
      </div>

      <div class="producto" id="producto8">
        <img src="images/Chapas4.jpg">
          <i class="fa-solid fa-star">Aretes con forma de Mariposa
            <h4 class="descripcion">Aretes</h4>
            <!--<h3 class="precio">65.00 NIO</h3>
            <h4 class="tachado">80.00 NIO</h4>-->
          </i>
      </div>

      <div class="producto" id="producto9">
        <img src="images/Collar2.jpg">
          <i class="fa-solid fa-star">Par de Collares
            <h4 class="descripcion">Collares</h4>
            <!--<h3 class="precio">65.00 NIO</h3>
            <h4 class="tachado">80.00 NIO</h4>-->
          </i>
      </div>

      <div class="producto" id="producto10">
        <img src="images/Brazalete2.jpg">
          <i class="fa-solid fa-star">Brazaletes con dijes variados
            <h4 class="descripcion">Brazaletes</h4>
            <!--<h3 class="precio">65.00 NIO</h3>
            <h4 class="tachado">80.00 NIO</h4>-->
          </i>
      </div>

      <div class="producto" id="producto11">
        <img src="images/Chapas6.jpg">
          <i class="fa-solid fa-star">Aretes de Luna y Estrella
            <h4 class="descripcion">Aretes</h4>
            <!--<h3 class="precio">65.00 NIO</h3>
            <h4 class="tachado">80.00 NIO</h4>-->
          </i>
      </div>

      <div class="producto" id="producto12">
        <img src="images/Chapas3.jpg">
          <i class="fa-solid fa-star">Aretes Esmeralda
            <h4 class="descripcion">Aretes</h4>
            <!--<h3 class="precio">65.00 NIO</h3>
            <h4 class="tachado">80.00 NIO</h4>-->
          </i>
      </div>

      <div class="producto" id="producto13">
        <img src="images/Chapas7.jpg">
          <i class="fa-solid fa-star">Aretes con forma de Corazon
            <h4 class="descripcion">Aretes</h4>
            <!--<h3 class="precio">65.00 NIO</h3>
            <h4 class="tachado">80.00 NIO</h4>-->
          </i>
      </div>

      
    </div>

  </div>
  <script src="scripts.js"></script>
  
</body>
</html>